{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description"content="Join Thousands Of Users Imporoving Therir Health With AI-Powerd Tool.">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta http-equiv="X-UA-Compatible" content="IE=7">
        <title>MediScan</title>
        <link rel="stylesheet" href="{%  static 'css/normalize.css' %}">
        <link rel="stylesheet" href="{%  static 'css/all.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="shortcut icon" href="{% static 'img/logo-2.png' %}" type="image/x-icon">
    </head>
    <body>
        <header class="home-header">
            <div class="container">
                <div class="logo">
                    <a href="{% url 'home' %}"><img src="{% static 'img/logo-2.png' %}" alt="LOGO-image"></a>
                </div>
                <div class="links">
                    <a href="{% url 'home' %}" class="back-home"><i class="fa fa-arrow-left" aria-hidden="true"></i>Back</a>
                    <a href="{% url 'logout' %}" class="logout">
                        <i class="fa fa-sign-out-alt"></i>
                        Logout
                    </a>
                </div>
            </div>
        </header>
        <div class="home">
            <div class="container">
                <h1>Welcome,{{ user.name }}! 👋</h1>
                <h3>Please Select An Action Below</h3>
                <div class="boxs">
                <a href="{% url 'upload' %}" class="upload-image">
                        <div class="box blue">
                            <i class="fas fa-upload fa-2x"></i>
                            <h3>Extract Medicine</h3>
                            <p>Upload Your Prescription And Automatically Extract Medicine Names,Dosages...</p>
                        </div>
                </a>
                    <a href="{% url 'medication_plan' %}" class="dashborad">
                        <div class="box red">
                            <i class="fas fa-calendar-check fa-2x"></i>
                            <h3>Show Medication Plan</h3>
                            <p>Get A Clear Daily Or Weekly Medication Plan Optimized For Your Health Need.</p>
                        </div>
                    </a>
                    <a href="{% url 'chatbot' %}" class="chat">
                        <div class="box green">
                            <i class="fab fa-facebook-messenger fa-2x"></i>
                            <h3>AI Chatbot </h3>
                            <p>Ask Question About Medication Or Instructions Directly.</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <script src="{% static 'js/all.min.js' %}"></script>
        <script src="{% static 'js/main.js' %}"></script>
    </body>
</body>